# Variables and User Input:

1. How do you prompt the user for input in Python, and what data type does input() return?

2. Write a Python program that prompts the user for their name and then prints a greeting message.

3. How can you check the data type of a variable in Python?

4. How would you handle an error if a user enters non-numeric input when you expect a number as input?

5. How can you concatenate (combine) two or more strings in Python?

In [1]:
username = input("Enter your email: ")
print(username)

Enter your email:  Dennis@gmail.com

Dennis@gmail.com

In [2]:
type(username)

str

In [4]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
result = num1 + num2
print(result)

Enter first number:  3
Enter second number:  3

6.0

In [6]:
first_name = input("Enter your firstname: ") 
print(f"Welcome {first_name}.")

Enter your firstname:  Dwasd

Welcome Dwasd.

In [7]:
first_name = input("Enter your firstname: ") 
print("Welcome", first_name)

Enter your firstname:  dennis

Welcome dennis

In [8]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
result = num1 + num2
print(result)

Enter first number:  as

ValueError: could not convert string to float: 'as'

In [9]:

# Add error handling to validate numeric input
try:
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
    result = num1 + num2
    print(result)
except ValueError:
    print("Error: Please enter valid numbers only.")
    # You could also implement a loop to keep asking until valid input is provided

Enter first number:  a

Error: Please enter valid numbers only.

In [12]:
firstname = "John"
Lastname = "Michael"
print(firstname + " " + Lastname)

John Michael

In [13]:
firstname = "John"
Lastname = "Michael"
print(firstname,Lastname)

John Michael

In [14]:
firstname = "John"
Lastname = "Michael"
print(f"{firstname} {Lastname}")

John Michael

# Conditional Execution:

1. Write a Python program that takes an integer as input and prints "Even" if it's an even number and "Odd" if it's an odd number.

2. Create a Python program that prompts the user for their age. If they are 18 or older, print "You are eligible to vote.", else "You are not eligible to vote.".

3. Create a Python program that calculates the grade for a student based on their exam score. Use the following grading scale: A (70-100), B (60-70), C (50-60), D (45-50), E(40-45), F (0-40).

4. Write a Python program that determines if a given number entered by a user is positive, negative, or zero.

5. Create a Python program that calculates the discount for a purchase amount based on the following conditions:

    If the purchase amount is greater than or equal to 100, apply a 10% discount.
    If the purchase amount is greater than or equal to 50, apply a 5% discount.
    Otherwise, no discount is applied. Prompt the user for the purchase amount and print the final amount after  applying the discount.

In [10]:
# 1.
num1 = float(input("number: "))
num2 = num1/2
if num1 /2 == int(num2):
    print("Even")
else:
    print("Odd")

number:  23

Odd

In [23]:
# 2.
age = input("Enter your age: ")
if age>="18":
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age:  19

You are eligible to vote

In [21]:
# 2.
age = int(input("Enter your age: "))
if age>=18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age:  19

You are eligible to vote

In [37]:
# 3.
score= float(input("enter your score: "))
if score>=0 and score<40:
    Grade="F"
elif score>=40 or score<45:
    Grade="E"
elif score>=45 or score<50:
    Grade="D"
elif score>=50 or score<60:
    Grade="C"
elif score>=60 or score<70:
    Grade="B"
elif score>=70 or score<=100:
    Grade="A"
else:
    Grade="Error!"
print(f"Score:{score} Grade: {Grade}")

enter your score:  48

Score:48.0 Grade: E

In [40]:
# 4.
num1 = float(input("number: "))
if num1 < 0:
    print("Negative")
elif num1 > 0:
    print("Positive")    
else:
    print("Zero")

number:  0

Zero

In [45]:
# 5.
puramt= float(input("enter the amount: "))
if puramt>=100:
    discount=0.1*puramt
elif puramt>=50:
    discount=0.05*puramt
else:
    discount=0
fin_amt=puramt-discount
print(f"Purchase amount: {puramt}")
print(f"Discount: {discount}")
print(f"Final amount: {fin_amt}")

enter the amount:  80

Purchase amount: 80.0
Discount: 4.0
Final amount: 76.0

# Functions:

1. How do you define a function in Python?

2. Write a Python function that calculates the square of a number and returns the result. i.e using ** symbol.

3.  What is the difference between a function parameter and an argument.

4. Write a Python function called is_even that takes an integer as an argument and returns True if the number is even and False if it's odd.

5. Write a Python function is_positive that checks if a given number is positive and returns True if it is and False otherwise.

# Loops:

1. Write a Python program that uses a for loop to print the numbers from 1 to 10.

2. Write a Python program that uses a for loop to find the sum of all numbers from 1 to 100.

3. Create a Python program that finds the largest element in a list of numbers using a for loop.

4. What is an iteration variable or loop variable in the context of loops. Give an example.

5. What is the difference between the break and continue statements in Python.

In [13]:
def square_number(num):
    return (num**num)

my_result = square_number(2)

In [14]:
my_result

4

In [17]:
def square_number():
    num=int(input("Enter a number: "))
    return (num**num)
square_number()

Enter a number:  2

4

In [19]:
def is_even(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

is_even(5)

Odd

In [21]:
def is_positive(num):
    if num >= 0:
        return "True"
    else:
        return "False"

is_positive(5)

'True'

In [24]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [26]:
total = 0
count=0
for i in range(1,101):
    total = total + i
    count=count + 1
print(total/count)

50.5

In [27]:
nums = [1,45,82,3,56,98,299,49,78,45]
max_number = 0
for i in nums:
    if i > max_number:
        max_number = i

print(max_number)

299

In [29]:
while True:
    username = input("Enter your username: ").lower()
    password = input("Enter your password: ")
    if username == "john" and password == "2934":
        print("login sussesful!")
        break
    else:
        continue

Enter your username:  John
Enter your password:  2934

login sussesful!

# Lists:

1. How do you add an element to the end of a list in Python?

2. Write a Python program that takes a list of numbers as input and returns the sum of all the numbers in the list using the sum function.

3. How do you check if an element exists in a list in Python?

4. Create a Python program that takes a list of 10 elements and prints the first five elements using list slicing.

5. Create a Python program that takes a list of 7 numbers, replaces the third element with a new value, and prints the modified list.

In [4]:
num=[1,2,3,4]

In [5]:
num.append(5)
print(num)

[1, 2, 3, 4, 5]

In [6]:
num=[1,2,3,4,5]

In [7]:
sum(num)

15

In [12]:
nums=[1,2,3,4,5]

def add_numbers(nums):
    total = 0
    for i in nums:
        total = total + i
    return total

add_numbers(nums)

15

In [13]:
5 in nums

True

In [14]:
10 in nums

False

In [15]:
5 not in nums

False

In [18]:
nums=[1,2,3,4,5,6,7,8,9,10]
nums[:5]

[1, 2, 3, 4, 5]

In [20]:
nums=[1,2,3,4,5,6,7]
nums[2]=100
nums

[1, 2, 100, 4, 5, 6, 7]

# Dictionaries:

1. Name a difference between a list and dictionary.

2. What is the difference between keys() and values() methods of a dictionary in Python.

3. Write a Python program that creates an empty dictionary called person and then adds the keys "name" and "age" with corresponding values to represent a person's information.

4. Write a Python program that creates a dictionary named student with keys "name" and "age" and assigns values to them. Then print the dictionary.

5. Create a Python program that accesses and prints the value associated with the key "age" in the student dictionary from the previous question.

In [21]:
# 1. list is ordered . Dictionary is unordered
# mutability-changeable

In [22]:
# 3
person={"name":"john","age":35}

In [23]:
person

{'name': 'john', 'age': 35}

In [24]:
type(person)

dict

In [25]:
person["age"]

35

## Tuples:

1. How do you create an empty tuple. And how is a tuple different from a list?

2. Can you add or remove elements from a tuple after it's created?

3. How do you access elements in a tuple in Python?

4. Write a Python program that creates a tuple named colors containing the names of five different colors and prints the tuple.

5. Create a Python program that accesses and prints the second element from the colors tuple created in the previous question.

In [1]:
my_tuple1 = ()
my_tuple2 = tuple()

In [2]:
print(type(my_tuple1))
print(type(my_tuple2))

<class 'tuple'>
<class 'tuple'>

In [3]:
my_tuple = (1,2,3,4,5)

In [4]:
my_tuple[0] = 6

TypeError: 'tuple' object does not support item assignment

In [6]:
print(my_tuple[-4])

2

In [8]:
colours = ("Red", "Purple", "Green", "Yellow", "Orange")

In [9]:
colours

('Red', 'Purple', 'Green', 'Yellow', 'Orange')

In [11]:
colours[1]

'Purple'

## Sets:

1.Create a set named 'my_set' with the elements 1, 2, 3, 4, 5. 

2. Add 6 as an element to the set and print the new set.

3. Remove the element 3 from the set and print the new set.

4. Write a loop to iterate over the elements of the updated set from Question 3 and print each element. 

5. Update the set from Question 3 by adding the elements 7, 8, and 9. 

6.  Check if 4 is present in the set.

7. Clear all elements from the set and print the empty set.

8. Given two sets set1 = {1, 2, 3, 4, 5} and set2 = {3, 4, 5, 6, 7}, 
perform the following set operations and assign the results to the specified variables:
Assign the union of set1 and set2 to 'union_set'. 
Assign the intersection of set1 and set2 to 'intersection_set'. 
 Assign the set difference of set1 and set2 to 'difference_set'.

In [12]:
my_set = {1,2,3,4,5}

In [13]:
print(type(my_set))

<class 'set'>

In [14]:
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [16]:
my_set.add?

Signature: my_set.add(object, /)
Docstring:
Add an element to a set.

This has no effect if the element is already present.
Type:      builtin_function_or_method

In [17]:
my_set.add(6)

In [18]:
my_set

{1, 2, 3, 4, 5, 6}

In [19]:
my_set.remove?

Signature: my_set.remove(object, /)
Docstring:
Remove an element from a set; it must be a member.

If the element is not a member, raise a KeyError.
Type:      builtin_function_or_method

In [23]:
my_set.remove(3)

KeyError: 3

In [21]:
my_set

{1, 2, 4, 5, 6}

In [25]:
for i in my_set:
    print(i)

1
2
4
5
6

In [26]:
my_set.update?

Signature: my_set.update(*others)
Docstring: Update the set, adding elements from all others.
Type:      builtin_function_or_method

In [27]:
my_set.update({7,8,9})

In [28]:
my_set

{1, 2, 4, 5, 6, 7, 8, 9}

In [29]:
4 in my_set

True

In [30]:
4 not in my_set

False

In [32]:
my_set.clear()

In [33]:
my_set

set()

8.Given two sets set1 = {1, 2, 3, 4, 5} and set2 = {3, 4, 5, 6, 7}, perform the following set operations and assign the results to the specified variables: Assign the union of set1 and set2 to 'union_set'. Assign the intersection of set1 and set2 to 'intersection_set'. Assign the set difference of set1 and set2 to 'difference_set'.

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [35]:
union_set= set1.union(set2)

In [36]:
union_set

{1, 2, 3, 4, 5, 6, 7}

In [37]:
intersection_set = set1.intersection(set2)

In [38]:
intersection_set

{3, 4, 5}


## Object-Oriented Programming/Classes:

1. Create a simple class in Python representing a "Person" with attributes name and age.

2. Create a class representing a basic calculator with add and subtract methods.

3. What is the difference between a method and a function in Python?

4. Create a class representing a "Dog" with a method to bark “Woof”.

5. What is an instance variable in Python?

In [39]:
class Person:
    name = ""
    age = 0

In [44]:
person1 = Person()

In [50]:
person1.name = "john"
person1.age = 30

In [51]:
class Person:
   def __init__(self,name,age):
       self.name = name
       self.age = age

In [52]:
person1 = Person("john",30)

In [54]:
person1.name

'john'

In [55]:
person1.age

30

In [59]:
class Calculator:
    def __init__(self,fn,sn):
        self.fn = fn
        self.sn = sn

    def add(self): 
       return self.fn + self.sn
   
    def subtract(self):
       return self.fn - self.sn

In [60]:
calc = Calculator(5,3)

In [61]:
calc.add()

8

In [62]:
calc.subtract()

2

In [71]:
class Dog:
    def __init__(self,sound):
        self.sound = sound
    def bark(self):
        return self.sound

In [72]:
pet = Dog("Woof!")

In [74]:
pet.bark()

'Woof!'